appdirs
arabic-reshaper
asgiref
autopep8
backports.entry-points-selectable
blinker
Brlapi
caffeine
certifi
chardet
cliapp
Click
cmdtest
colorama
command-not-found
coreapi
coreschema
cryptography
dbus-python
defer
defusedxml
diff-match-patch
distlib
distro
distro-info
dj-database-url
Django
django-ckeditor
django-cors-headers
django-countries
django-crontab
django-currentuser
django-dbbackup
django-debug-toolbar
django-heroku
django-import-export
django-js-asset
djangorestframework
drf-yasg
entrypoints
et-xmlfile
ewmh
filelock
future
gunicorn
html5lib
httplib2
idna
importlib-metadata
inflection
itypes
Jinja2
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
lxml
Mako
Markdown
MarkupPy
MarkupSafe
meson
more-itertools
netifaces
oauthlib
odfpy
onboard
openpyxl
packaging
Pillow
pipenv
platformdirs
psycopg2
pycairo
pycares
pycodestyle
Pygments
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
PyPDF2
PyQt5
python-apt
python-barcode
python-bidi
python-debian
python-decouple
python-xlib
pytz
pyxdg
PyYAML
reportlab
requests
requests-unixsocket
ruamel.yaml
ruamel.yaml.clib
SecretStorage
simplejson
sip
six
sqlparse
ssh-import-id
tablib
toml
ttystatus
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uritemplate
urllib3
virtualenv
virtualenv-clone
wadllib
webencodings
whitenoise
xhtml2pdf
xkit
xlrd
xlwt
zipp
